.banner {
    border-radius: 25px;
    opacity: 0.7;
}

.banneroverlay {
    background: black;
    border-radius: 25px;
    height: 223px;
    margin-top: 66px;
}

.banneroverlay p {
    color: white;
    font-size: 48px;
    position: absolute;
    left: 400px;
    top: 230px;
}