.cardcover {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    object-fit: cover;
}

.cardlogement {
    position: relative;
    margin-bottom: 50px;
    height: 340px;
    border-radius: 10px;
}

.cardlogement::after {
    content: '';
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 340px;
    height: 340px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0.7) 100%);
}

.cardlogement:hover {
    box-shadow: 0px 10px 17px -3px rgba(131,131,131,0.61);
    transition: all 0.2s ease-in-out;
}

.cardlogement p {
    color: white;
    font-size: 18px;
    position: absolute;
    z-index: 2;
    top: 72%;
    left: 5%;
    width: 60%;
}

@media screen and (min-width: 778px) and (max-width: 992px) {
    .cardcover {
        width: 290px;
        height: 290px;
    }

    .cardlogement {
        height: 290px;
    }

    .cardlogement::after {
        width: 290px;
        height: 290px;
    }

    .cardlogement p {
        top: 67%;
        width: 70%;
    }
}

@media screen and (max-width: 777px) {
    .cardcover {
        width: 335px;
        height: 255px;
    }

    .cardlogement {
        margin-bottom: 20px;
        height: 255px;
    }

    .cardlogement::after {
        width: 335px;
        height: 255px;
    }

    .cardlogement p {
        width: 80%;
    }
}