.carousel {
    height: 415px;
}

.carouselimg {
    width: 1240px;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
}

.carouselelements {
    width: 1200px;
    position: relative;
    bottom: 270px;
    left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.bulletpoint { 
    position: relative;
    top: 185px;
    font-size: 18px;
    text-shadow: 1px 2px 5px #000000;
}

@media screen and (min-width: 993px) and (max-width: 1400px) {
    .carouselimg {
        width: 868px;
        height: 291px;
    }
    .carouselelements {
        width: 840px;
        bottom: 189px;
        left: 15px;
    }
    .bulletpoint {
        top: 115px;
    }
}

@media screen and (min-width: 778px) and (max-width: 992px) {
    .carousel {
        height: 232px;
    }
    .carouselimg {
        width: 694px;
        height: 232px;
    }
    .carouselelements {
        width: 672px;
        bottom: 151px
    }
    .bulletpoint {
        top: 85px;
        font-size: 16px;
    }
    .arrow {
        height: 45px;
    }
}

@media screen and (max-width : 777px) {
    .carousel {
        height: 255px;
    }
    .carouselimg {
        width: 335px;
        height: 255px;
        border-radius: 10px;
    }
    .carouselelements {
        width: 330px;
        bottom: 140px;
        left: 3px;
    }
    .bulletpoint {
        display: none;
    }
    .arrow {
        height: 19px;
    }
}