@font-face {
	font-family: Montserrat;
	src: url('./assets/Montserrat-VariableFont_wght.ttf');
}

html
{
	font-family: 'Montserrat', sans-serif;
	/* Set border-box as the global default */
	box-sizing: border-box;
	line-height: 142.6%;
}

*, *:before, *:after
{
	/* Allow each element to override */
	box-sizing: inherit;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
  }